//--------------------colors--------------------//
$maincolor: aqua;
$secondarycolor: yellow;
$mainfontcolor: green;
$secondaryfontcolor: red;



//--------------------fonts--------------------//
$mainfont: "Festive", cursive;
$secondaryfont: "Shizuru", cursive;



//--------------------sizes--------------------//
$container-size: 1170px;
